:root {
  --primary-color: rgb(198, 242, 21);
  --secondary-color: rgb(222, 235, 160);
  --accent-color: #31006f;
  --heading-font-family: "Annie Use Your Telescope", cursive;
  --default-font-family: "Abril Fatface", cursive;
}
body {
  font-family: var(--default-font-family);
}
nav {
  background-color: var(--accent-color);
  padding: 20px 0;
}
nav li {
  display: inline;
  line-height: 42px;
  margin-left: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav .header-author {
  color:white;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
  font-size: 20px;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 500px;
  color: var(--accent-color);
  font-size: 150px;
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 50px;
  line-height: 2;
  background-color: var(--accent-color);
  display: flex;
  justify-content: end;
  color: white;
}
h3 {
  font-family: var(--deafault-font-family);
  color: var(--accent-color);
  }
  h4 {
    font-size: 48px;
    color: var(--accent);
  }
  footer {
    margin: 60px 0;
  }
  footer .contact-box {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 30px 120px;
    border-radius: 10px;
  }
   footer .contact-box p {
    margin: 0;
   }
  footer .email-link {
    text-decoration:none;
    color: var(--accent);
    font-size: 24px;
    
  }
  footer .email-link:hover {
    color: var(--primary-color);
  }
  footer .social-links a{
margin: 0 20px;
background-color: var(--accent-color);
padding: 10px 14px;
color:white;
font-size: 18px;
border-radius: 50%;
transition: all 400ms ease-in-out;
}
 footer .social-links a:hover {
  color: var(--primary-color);
 }
footer .social-links a:hover i {
   transform: scale(1.2);
   }
.hero {
  padding: 160px 20px;
  background-color: var(--primary-color);
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 70px;
}
.content h2 {
  font-size: 30px;
}
.hero p {
  text-align: center;
  background-color: var(--accent-color);
  font-family: "Poiret One", cursive;
  font-size: 50px;
  display: flex;
  color: var(--secondary-color);
}
.heading {
  color: var(--secondary-color);
}
.primary-button {
  text-align: center;
}
.primary-button a {
  border: 4px dotted var(--accent-color);
  color: var(--accent-color);
  font-size: 20px;
}
.primary-button a:hover {
  background-color: var(--accent-color);
  color: white;
}
.wrapper {
  border: 4px dotted var(--accent-color);
  max-width: 450px;
}
.address:hover {
  color: var(--primary-color);
  text-decoration: none;
}
@media (max-width: 576px) {
  nav a {
    font-size: 17px;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 26px;
  }
  p {
    text-align: center;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer .email-link {
    font-size: 20px;
  }
  .hero {
    padding: 80px 10px;
  }
  .content-container {
    padding: 30px 0;
  }
  .content h2 {
    font-size: 24px;
  }
  .hero p {
    font-size: 25px;
    width: 100%;
  }
  .address {
    font-size: 15px;
  }

}
